.app{
    background-size: 25px 25px;
        background-image: linear-gradient(90deg, #dbdbde30 1px, transparent 0), linear-gradient(180deg, #dbdbde30 1px, transparent 0);
        background-attachment: fixed;
}